nav {
    background-color: #ffffff;
}

.navbar-brand img {
    width: 100px;
}

nav li a {
    text-transform: capitalize;
}

.slider .carousel-item img {
    height: 90vh;
    object-fit: cover;
}

.slider .carousel-item .carousel-caption {
    background-color: #4780a87a;
    padding: 50px 20px;
   border-radius: 35px 0 35px 0;
}

.slider .carousel-item .heading {
    font-size: 40px;
    color: #dc3545;
}

.slider .carousel-item .subheading {
    font-size: 20px;
}

.mybtn {
    font-size: 18px;
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    outline: none;
    border: none;
}

.products {
    padding: 80px 0;
}

.products .heading {
    padding-bottom: 50px;
    font-size: 40px;
    text-align: center;
    color: #dc3545;
}

.products .box {
    background-color: #F7F4EB;
    height: 700px;
    text-align: center;
    position: relative;
}

.products .box img {
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.products .box h2 {
    color: #4780A8;
    font-size: 25px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.products .box p {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    padding-bottom: 20px;

}

.products .box .mybtn {
    position: absolute;
    left: 10px;
    bottom: 15px;
}

.site-footer {
    background-color: #4780A8;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.text-justify {
    color: #F7F4EB;
}

.site-footer hr {
    border-top-color: #ffffff;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #F7F4EB;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #dc3545;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}



.copyright-text {
    margin: 0;
    color: #F7F4EB;
}

.custom-open-button {
    font-size: 18px;
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    outline: none;
    border: none;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 28px;
    z-index: 999999;
    width: 180px;
}

.custom-chat-popup {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 15px;
    z-index: 9;
}
.chatheading{
    color: #4780A8;
    font-size: 30px;
}
.custom-form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: #777;
}

.custom-form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 25px;
    background: #ddd;
    resize: none;
    min-height: 200px;
    color: #777;
}

.custom-form-container .custom-btn {
    background-color: #dc3545;
    color: white;
    font-size: 17px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    z-index: 999999999;
}

.custom-form-container .cancel {
    background-color: #1974D2;
}

.custom-form-container .custom-btn:hover, .custom-open-button:hover {
    opacity: 0.8;
}

iframe {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
